@import './derby_variables.scss';

.derby-custom-button {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: white;
}

.derby-custom-button:hover,
.derby-custom-button:focus {
  background-color: transparent !important;
  color: $primary-color;
}

.derby-custom-button.euiButton:disabled.euiButton--fill {
  color: white;
}

.derby-input-field:focus {
  background-image: linear-gradient(
    to top,
    $secondary-color,
    $secondary-color 2px,
    transparent 2px,
    transparent 100%
  ) !important;
}

.derby-row label.euiFormLabel-isFocused {
  color: $secondary-color !important;
}

.derby-logo {
  display: flex;
  align-items: center;
  font-weight: 600 !important;
}

.derby-logo img {
  padding: 2px;
  margin-left: 4px;
}

.derby-logo span {
  font-weight: 500;
}

.derbyLoginWelcome__title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.derbyLoginWelcome__subtitle {
  font-size: 1.25em;
  font-weight: 300;
}

.derby-saved-objects-import-loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.derby-loading-text {
  font-size: 1.25em;
}

/* Apply the animation to the "Loading ..." div */
.derby-flashing-text {
  animation: flash 0.5s infinite; /* Use 'flash' keyframes, 2 seconds duration, repeat infinitely */
}

@keyframes flash {
  0% {
    opacity: 0;
  } /* Start with 0 opacity (invisible) */
  50% {
    opacity: 1;
  } /* Reach full opacity */
  100% {
    opacity: 0;
  } /* Back to 0 opacity */
}

.derbyLoadingLogo {
  animation: loadingLogo 2s infinite;
}

@keyframes loadingLogo {
  0% {
    opacity: 0;
  } /* Start with 0 opacity (invisible) */
  50% {
    opacity: 1;
  } /* Reach full opacity */
  100% {
    opacity: 0;
  } /* Back to 0 opacity */
}

.loginWelcome__logo {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  height: auto;
  /* Optionally, you can set a maximum width for the container to prevent the image from becoming too large on larger screens */
  max-width: 100%; /* Adjust as needed */
  margin-bottom: 0px;
}

.loginWelcome__logo img {
  width: 100%;
  height: auto;
  display: block; /* Ensures image won't have space below it */
}

.derbyLoadingLogo {
  width: 50px;
  height: 50px;
}

.derby-logo {
  display: block;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  height: auto;
  max-width: 235px;
  margin-bottom: 0px;
  margin-left: 8px;
}

.derby-logo img {
  width: 100%;
  height: auto;
  display: block;
}

#globalHeaderBars {
  display: flex;
}

#globalHeaderBars > div.euiHeader:first-child {
  display: flex;
  justify-content: space-between;
}

// #globalHeaderBars > div.euiHeader:first-child > div.euiHeaderSection:nth-child(1) {
//   flex: 0 0 75%;
// }

// #globalHeaderBars > div.euiHeader:first-child > div.euiHeaderSection:nth-child(2) {
//   flex: 0 0 25%;
//   justify-content: flex-end;
// }

#globalHeaderBars
  > div.euiHeader:first-child
  > div.euiHeaderSection:nth-child(2)
  > div.euiHeaderSectionItem:first-child {
  border: 2px solid yellow;
  display: none;
  width: 0px;
}
