.sidebar-container .index-pattern {
  background-color: #da6717;
}

.dshExitFullScreenButton__text {
  background: #da6717;
}

.euiPage {
  /* background-color: #e1e1e1; */
}

.euiPanel {
  /* background-color: #f5f6f7; */
}

.kbnTopNav__mainMenu .kuiLocalMenuItem:not(.kuiLocalMenuItem-isDisabled) {
  color: #da6717;
}

.kbnTopNav {
  /* background-color: #e1e1e1; */
  color: #da6717;
}

html {
}

.kuiLink:visited,
.kuiLink:active,
.kuiLink {
  color: #da6717;
}

.kuiButton--primary {
  color: #fff;
  background-color: #da6717;
}

/* TODO: just changes text bg not the whole button style */
.dshExitFullScreenButton__text {
  background: #da6717;
}

/* Let's welcome them to the login with the name of the
 * company, so they'll know where they are.
   ! NOTE: Removes the Welcome Message at Login so not using it
 */
.loginWelcome__title {
  visibility: hidden;
}

.loginWelcome__title:after {
  content: 'Derby PRISM';
  visibility: visible;
  display: block;
}

/*
 ! NOTE: There is no subtitle now, I've added it back in the code.
 */
.loginWelcome__subtitle p {
  visibility: hidden;
}

.loginWelcome__subtitle p:after {
  content: 'Making better decisions faster';
  visibility: visible;
  display: block;
}

/* Lose the company-specific branding on the background as well */
.loginWelcome::before,
.loginWelcome::after {
  content: '';
}

/* Kibana's layout breaks the width/height on small screens, so
 * fix it back.
 */
@media only screen and (max-width: 574px) {
  .euiHeaderLogo {
    padding-top: 0px;
  }
}

/********************************
 * NOT TRIED
 ********************************/
