@include euiHeaderAffordForFixed;

// DERBY
// .chrHeaderHelpMenu__version {
//   text-transform: none;
// }

.chrHeaderBadge__wrapper {
  align-self: center;
  margin-right: $euiSize;
}

.header__toggleNavButtonSection {
  .euiBody--collapsibleNavIsDocked & {
    display: none;
  }
}
